####################################
# Java
####################################
*.class

####################################
# Maven
####################################
**/target/
**/*.log

####################################
# Eclipse
####################################
.project
.classpath
.settings/

####################################
# Selenium / Test Automation
####################################
**/logs/
**/reports/
**/screenshots/
**/test-output/
**/allure-results/
**/allure-report/

####################################
# Test Data
####################################
**/testData/

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# Env / Secret
####################################
**/*.env
**/local.properties
